In [1]:
from pivottablejs import pivot_ui
import pandas as pd

In [2]:
df = pd.read_csv("PivotTableTest.csv")

In [3]:
df.head()

,FIPS,County,Basin,Hubbert Stage,Cumulative Production,Magnitude,Year,Value
0,48001,Anderson,None,ERROR,22459703,Small,1993,1377971
1,48001,Anderson,None,ERROR,22459703,Small,1994,1361731
2,48001,Anderson,None,ERROR,22459703,Small,1995,1299698
3,48001,Anderson,None,ERROR,22459703,Small,1996,1186513
4,48001,Anderson,None,ERROR,22459703,Small,1997,1142332

In [4]:
%run <save>

ERROR:root:File `'<save>.py'` not found.

In [5]:
pivot_ui(df)